= render 'shared/header'
= render 'shared/navigation'

#grid-container.grid-container
  #project-grid.project-grid
    - if @projects.present?
      - @projects.each do |p|
        = render 'shared/projectcontainer', project: p

  #button-left.button-left
    .arrow-left
      = '<-'
  #button-right.button-right
    .arrow-right
      = '->'

= render 'shared/footer'