.projectmanagement
  %h1
    Projects

  - if @projects.present?
    .project-list
      - @projects.each do |p|
        .project-container
          .projectitem
            Title:
            = p.title
          .projectdescription
            Description:
            = p.description
          .projectslug
            Slug:
            = p.slug
          - if p.previewImage.present?
            .projectpreview
              Preview:
              = image_tag(p.previewImage.small)
          - if p.images.present?
            .projectimages
              Images:
              .imagecontainer
                - p.images.each do |i|
                  = image_tag(i.thumb)
          = button_to 'delete project', { controller: :projects, action: 'destroy', slug: p.slug }, method: :delete, class: 'delete-button'
          = button_to 'update project', '/manage/edit/' + p.slug, class: 'update-button', method: :get

  .new-link
    = link_to 'New Project', '/manage/new'
