%h1
  Projects

- if @projects.present?
  %ul.projectlist
  - @projects.each do |p|
    %li.projectitem
      = p.title
    %li.projectdescription
      = p.description
    %li.projectslug
      = p.slug
    %li.projectpreview
      = p.previewImage
    %li.projectimages
      - p.images.each do |i|
        = i
    = button_to 'delete', {controller: :projects, action: 'destroy', slug: p.slug }, method: :delete
    = link_to 'update', 'manage/edit/' + p.slug

%br/
%br/

= link_to 'New Project', '/manage/new'
