- if @project.present?
  .project-title
    = @project.title
  .project-description
    = @project.description
  .scroller
    - @project.images.each do |i|
      .slick-slide
        = image_tag(i, class: 'project-image')
  = link_to 'Home', root_path
- else
  There's nothing here. Please go to the main page.
  = link_to 'Home', root_path